@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans-SemiBold.woff") format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* @font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
} */

@font-face {
  font-family: "Font";
  src: local("Font"), url("../fonts/BergenSans.eot"), url("../fonts/BergenSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BergenSans.woff") format("woff"), url("../fonts/BergenSans.ttf") format("truetype"), url("../fonts/BergenSans.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}
