@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
