@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans--Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans--SemiBold.woff") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Font";
  src: url("../fonts/BergenSans--Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
