.header {
  z-index: 100;
  position: absolute;
  width: 100%;
  padding-top: 22px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
  margin-bottom: 0;
}

.menu__list-item {
  font-size: 0.875rem;
}

.menu__list-link {
  transition: color 0.2s ease-in-out;
}

.menu__list-link:not(.menu__list-link--choose):hover {
  color: var(--color-main-orange);
}

.menu__list-link--choose {
  position: relative;
  background-color: var(--color-main-orange);
  padding: 8px 28px 8px 14px;
  border-radius: 5px;

  transition: background-color 0.2s ease-in-out;
}

.menu__list-link--choose:hover {
  background-color: var(--color-secondary-orange);
}

.menu__list-link--choose::before {
  content: "";
  position: absolute;
  right: 14px;
  top: 16px;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-main-white);
  transition: 0.2s ease-in-out;
}

.menu__list-link--academy {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 14px;
}

.menu__list-link--academy::before {
  content: "";
  position: absolute;
  right: 0;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-main-white);
  transition: border-top-color 0.2s ease-in-out;
}

.menu__list-link--academy:hover::before {
  border-top-color: var(--color-main-orange);
}
